.mainView > .lolomo{
    padding-top: 3em;
}

.billboard-row{
    display: none;
}

.player-postplay-autoplay-still, .image-rotator-image{
	filter: blur(15px);
}

.player-loading-background.player-visible {
	filter: blur(30px);
}

.synopsis, .player-postplay-episode-synopsis {
	filter: blur(5px);
}